# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

In [ ]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 23.5 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 14.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [ ]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://ikhsanbudiwicaksono:ikhsanbudiwicaksono@databesar.oxory.mongodb.net/?retryWrites=true&w=majority&appName=DATABESAR')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}),
    InsertOne({'course': 'Biology 303', 'enrollments': 10, 'department': 'Biology'}),
    InsertOne({'course': 'Chemistry 404', 'enrollments': 5, 'department': 'Chemistry'}),
    InsertOne({'course': 'Economics 505', 'enrollments': 12, 'department': 'Economics'}),
    InsertOne({'course': 'Political Science 606', 'enrollments': 8, 'department': 'Political Science'}),
    InsertOne({'course': 'Sociology 707', 'enrollments': 7, 'department': 'Sociology'}),
    InsertOne({'course': 'Psychology 808', 'enrollments': 6, 'department': 'Psychology'}),
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [ ]:
# Bulk update of course with student enrollments
operations = [
    UpdateOne({'course': 'Math 101'}, {'$set': {'enrollments': 35}}),
    UpdateOne({'course': 'CS 102'}, {'$set': {'enrollments': 30}}),
    UpdateOne({'course': 'History 201'}, {'$set': {'enrollments': 25}}),
    UpdateOne({'course': 'Physics 202'}, {'$set': {'enrollments': 20}}),
    UpdateOne({'course': 'Biology 303'}, {'$set': {'enrollments': 15}}),
    UpdateOne({'course': 'Chemistry 404'}, {'$set': {'enrollments': 10}}),
    UpdateOne({'course': 'Economics 505'}, {'$set': {'enrollments': 20}}),
    UpdateOne({'course': 'Political Science 606'}, {'$set': {'enrollments': 14}}),
    UpdateOne({'course': 'Sociology 707'}, {'$set': {'enrollments': 27}}),
    UpdateOne({'course': 'Psychology 808'}, {'$set': {'enrollments': 18}})
]
courses_collection.bulk_write(operations)
print('Courses updated successfully.')

Courses updated successfully.

In [ ]:
# Bulk delete of course with student enrollment
operations = [
    DeleteOne({'course': 'Math 101'}),
    DeleteOne({'course': 'CS 102'}),
    DeleteOne({'course': 'History 201'}),
    DeleteOne({'course': 'Physics 202'}),
    DeleteOne({'course': 'Biology 303'}),
    DeleteOne({'course': 'Chemistry 404'}),
]
courses_collection.bulk_write(operations)
print('Courses deleted successfully.')

Courses deleted successfully.

In [ ]:
# Delete all
courses_collection.delete_many({})

DeleteResult({'n': 4, 'electionId': ObjectId('7fffffff000000000000001d'), 'opTime': {'ts': Timestamp(1730886191, 4), 't': 29}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1730886191, 7), 'signature': {'hash': b'\r&\x1dbd\x17Y\xfa~0\x98\xae\xf0o\x12\xb6gM\x1e}', 'keyId': 7400067048568520705}}, 'operationTime': Timestamp(1730886191, 4)}, acknowledged=True)

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [ ]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('672b3a3de0327a49462fc884'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b3a3de0327a49462fc885'), 'course': 'CS 102', 'enrollments': 30, 'department': 'Computer Science'}
{'_id': ObjectId('672b3a3de0327a49462fc886'), 'course': 'History 201', 'enrollments': 25, 'department': 'History'}
{'_id': ObjectId('672b3a3de0327a49462fc88c'), 'course': 'Sociology 707', 'enrollments': 27, 'department': 'Sociology'}

In [ ]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('672b3a3de0327a49462fc884'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b3a3de0327a49462fc885'), 'course': 'CS 102', 'enrollments': 30, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [ ]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'average_enrollment': 35.0}
{'_id': 'Psychology', 'average_enrollment': 18.0}
{'_id': 'Biology', 'average_enrollment': 15.0}
{'_id': 'Sociology', 'average_enrollment': 27.0}
{'_id': 'Computer Science', 'average_enrollment': 30.0}
{'_id': 'Physics', 'average_enrollment': 20.0}
{'_id': 'Chemistry', 'average_enrollment': 10.0}
{'_id': 'Political Science', 'average_enrollment': 14.0}
{'_id': 'Economics', 'average_enrollment': 20.0}
{'_id': 'History', 'average_enrollment': 25.0}

In [ ]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Psychology', 'max_enrollment': 18}
{'_id': 'History', 'max_enrollment': 25}
{'_id': 'Economics', 'max_enrollment': 20}
{'_id': 'Mathematics', 'max_enrollment': 35}
{'_id': 'Chemistry', 'max_enrollment': 10}
{'_id': 'Physics', 'max_enrollment': 20}
{'_id': 'Computer Science', 'max_enrollment': 30}
{'_id': 'Political Science', 'max_enrollment': 14}
{'_id': 'Sociology', 'max_enrollment': 27}
{'_id': 'Biology', 'max_enrollment': 15}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [ ]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b3a3de0327a49462fc884'), 'enrollments': 35, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b3a3de0327a49462fc885'), 'enrollments': 30, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b3a3de0327a49462fc886'), 'enrollments': 25, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('672b3a3de0327a49462fc887'), 'enrollments': 20, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('672b3a3de0327a49462fc888'), 'enrollments': 15, 'course_name': 'Biology 303', 'department_name': 'Biology'}
{'_id': ObjectId('672b3a3de0327a49462fc889'), 'enrollments': 10, 'course_name': 'Chemistry 404', 'department_name': 'Chemistry'}
{'_id': ObjectId('672b3a3de0327a49462fc88a'), 'enrollments': 20, 'course_name': 'Economics 505', 'department_name': 'Economics'}
{'_id': ObjectId('672b3a3de0327a49462fc88b'), 'enrollments': 14, 'course_name': 'Political Science 606', 'department_name': 'Political Science'}
{'_id': ObjectId('672b3a3de0327a49462fc88c'), 'enrollments': 27, 'course_name': 'Sociology 707', 'department_name': 'Sociology'}
{'_id': ObjectId('672b3a3de0327a49462fc88d'), 'enrollments': 18, 'course_name': 'Psychology 808', 'department_name': 'Psychology'}

In [ ]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b3a3de0327a49462fc884'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b3a3de0327a49462fc885'), 'course': 'CS 102', 'enrollments': 30, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b3a3de0327a49462fc886'), 'course': 'History 201', 'enrollments': 25, 'department': 'History', 'enrollment_category': 'high'}
{'_id': ObjectId('672b3a3de0327a49462fc887'), 'course': 'Physics 202', 'enrollments': 20, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('672b3a3de0327a49462fc888'), 'course': 'Biology 303', 'enrollments': 15, 'department': 'Biology', 'enrollment_category': 'low'}
{'_id': ObjectId('672b3a3de0327a49462fc889'), 'course': 'Chemistry 404', 'enrollments': 10, 'department': 'Chemistry', 'enrollment_category': 'low'}
{'_id': ObjectId('672b3a3de0327a49462fc88a'), 'course': 'Economics 505', 'enrollments': 20, 'department': 'Economics', 'enrollment_category': 'low'}
{'_id': ObjectId('672b3a3de0327a49462fc88b'), 'course': 'Political Science 606', 'enrollments': 14, 'department': 'Political Science', 'enrollment_category': 'low'}
{'_id': ObjectId('672b3a3de0327a49462fc88c'), 'course': 'Sociology 707', 'enrollments': 27, 'department': 'Sociology', 'enrollment_category': 'high'}
{'_id': ObjectId('672b3a3de0327a49462fc88d'), 'course': 'Psychology 808', 'enrollments': 18, 'department': 'Psychology', 'enrollment_category': 'low'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.
- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [ ]:
#HW1: Lakukan agregasi untuk mendapatkan jumlah mata kuliah per departemen.
pipeline = [
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Physics', 'course_count': 1}
{'_id': 'Chemistry', 'course_count': 1}
{'_id': 'Sociology', 'course_count': 1}
{'_id': 'Computer Science', 'course_count': 1}
{'_id': 'History', 'course_count': 1}
{'_id': 'Mathematics', 'course_count': 1}
{'_id': 'Political Science', 'course_count': 1}
{'_id': 'Economics', 'course_count': 1}
{'_id': 'Biology', 'course_count': 1}
{'_id': 'Psychology', 'course_count': 1}

In [ ]:
#HW2: $match dan $group untuk memfilter mata kuliah dengan pendaftaran lebih dari sama dengan 25 di 'Ilmu Komputer'.
pipeline = [
    {'$match': {'enrollments': {'$gte': 25}}},
    {'$group': {'_id': '$course', 'total_enrollments': {'$sum': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Math 101', 'total_enrollments': 35}
{'_id': 'History 201', 'total_enrollments': 25}
{'_id': 'CS 102', 'total_enrollments': 30}
{'_id': 'Sociology 707', 'total_enrollments': 27}

In [ ]:
students_collection = db['students']

# Bulk insert of students with course
operations = [
    InsertOne({'name': 'John Doe', 'enrollments': ['Math 101', 'CS 102']}),
    InsertOne({'name': 'Jane Smith', 'enrollments': ['History 201', 'Physics 2']}),
    InsertOne({'name': 'Bob Johnson', 'enrollments': ['Math 101', 'Biology 303']}),
    InsertOne({'name': 'Alice Brown', 'enrollments': ['CS 102', 'Chemistry 404']}),
    InsertOne({'name': 'Eve Davis', 'enrollments': ['History 201', 'Physics 202']}),
    InsertOne({'name': 'Mike Wilson', 'enrollments': ['Math 101', 'Biology 303']}),
    InsertOne({'name': 'Sara Lee', 'enrollments': ['CS 102', 'Chemistry 404']}),
    InsertOne({'name': 'Tom Miller', 'enrollments': ['History 201', 'Physics 202']}),
    InsertOne({'name': 'Lisa Garcia', 'enrollments': ['Math 101', 'Biology 303']}),
    InsertOne({'name': 'David Martinez', 'enrollments': ['CS 102', 'Chemistry 404']}),
]
students_collection.bulk_write(operations)
print('Students inserted successfully.')

Students inserted successfully.

In [ ]:
#HW3: $lookup untuk gabungkan course_collection dengan students_collection berdasarkan enrollment mahasiswa tanpa id course dan id students
pipeline = [{'$lookup':{'from': 'courses', 'localField': 'enrollments', 'foreignField': 'course', 'as': 'courses'}},
            {'$unwind': '$courses'},
            {'$project': {'_id':0, 'name': 1, 'course': '$courses.course', 'department': '$courses.department'}}]
for result in students_collection.aggregate(pipeline):
    print(result)

{'name': 'John Doe', 'course': 'Math 101', 'department': 'Mathematics'}
{'name': 'John Doe', 'course': 'CS 102', 'department': 'Computer Science'}
{'name': 'Jane Smith', 'course': 'History 201', 'department': 'History'}
{'name': 'Bob Johnson', 'course': 'Math 101', 'department': 'Mathematics'}
{'name': 'Bob Johnson', 'course': 'Biology 303', 'department': 'Biology'}
{'name': 'Alice Brown', 'course': 'CS 102', 'department': 'Computer Science'}
{'name': 'Alice Brown', 'course': 'Chemistry 404', 'department': 'Chemistry'}
{'name': 'Eve Davis', 'course': 'History 201', 'department': 'History'}
{'name': 'Eve Davis', 'course': 'Physics 202', 'department': 'Physics'}
{'name': 'Mike Wilson', 'course': 'Math 101', 'department': 'Mathematics'}
{'name': 'Mike Wilson', 'course': 'Biology 303', 'department': 'Biology'}
{'name': 'Sara Lee', 'course': 'CS 102', 'department': 'Computer Science'}
{'name': 'Sara Lee', 'course': 'Chemistry 404', 'department': 'Chemistry'}
{'name': 'Tom Miller', 'course': 'History 201', 'department': 'History'}
{'name': 'Tom Miller', 'course': 'Physics 202', 'department': 'Physics'}
{'name': 'Lisa Garcia', 'course': 'Math 101', 'department': 'Mathematics'}
{'name': 'Lisa Garcia', 'course': 'Biology 303', 'department': 'Biology'}
{'name': 'David Martinez', 'course': 'CS 102', 'department': 'Computer Science'}
{'name': 'David Martinez', 'course': 'Chemistry 404', 'department': 'Chemistry'}