# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [ ]:
# Menginstal PyMongo, ini adalah antarmuka untuk terhubung ke MongoDB dengan Python
!pip install pymongo
!pip install dnspython

In [ ]:
import pymongo
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://ikhsanbudiwicaksono:xxxxxxxxxxxxxxxxxx@databesar.oxory.mongodb.net/')
db = client['company_db']
collection = db['PEGAWAI']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [ ]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data

In [ ]:
# Data lebih banyak
DataPegawai = [
    {'name': 'Ahmad Syahputra', 'department': 'Keuangan', 'age': 30, 'salary': 5000, 'region': 'Sumatra'},
    {'name': 'Budi Santoso', 'department': 'Teknologi Informasi', 'age': 27, 'salary': 5500, 'region': 'Kalimantan'},
    {'name': 'Citra Lestari', 'department': 'Sumber Daya Manusia', 'age': 32, 'salary': 4800, 'region': 'Sumatra'},
    {'name': 'Dewi Siti Nurhaliza', 'department': 'Keuangan', 'age': 29, 'salary': 6200, 'region': 'Kalimantan'},
    {'name': 'Eko Prasetyo', 'department': 'Teknologi Informasi', 'age': 35, 'salary': 5900, 'region': 'Sumatra'},
    {'name': 'Faisal Fathurrahman', 'department': 'Sumber Daya Manusia', 'age': 28, 'salary': 4700, 'region': 'Kalimantan'},
    {'name': 'Gita Wulandari', 'department': 'Pemasaran', 'age': 31, 'salary': 5400, 'region': 'Sumatra'},
    {'name': 'Hendra Saputra', 'department': 'Keuangan', 'age': 24, 'salary': 4500, 'region': 'Kalimantan'},
    {'name': 'Intan Permatasari', 'department': 'Teknologi Informasi', 'age': 26, 'salary': 5200, 'region': 'Sumatra'},
    {'name': 'Joko Susanto', 'department': 'Pemasaran', 'age': 34, 'salary': 5700, 'region': 'Kalimantan'}
]

# Insert banyak data
collection.insert_many(DataPegawai)
print('Multiple data with long names inserted')

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

In [ ]:
collection.update_one(
    {'name': 'Gita Wulandari'},  # Kriteria
    {'$set': {'age': 30}}  # Data yang diubah
)
print('Data updated')

In [ ]:
collection.delete_one({'name': 'Gita Wulandari'})

In [ ]:
# Delete semua data
collection.delete_many({})
print('All data deleted')

In [ ]:
# Ganti 'nama_koleksi_anda' dengan nama koleksi yang ingin dihapus
db['PEGAWAI'].drop()
print('Koleksi berhasil dihapus.')

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).
- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [ ]:
# Latihan 4.1
# Buat koleksi baru 'products' dan masukkan data produk (minimal 10 produk)
DataProduk = [
    {'nama': 'Laptop Asus ROG', 'kategori': 'Elektronik', 'harga': 15000000, 'stok': 25},
    {'nama': 'Smartphone Samsung Galaxy', 'kategori': 'Elektronik', 'harga': 7500000, 'stok': 50},
    {'nama': 'Headphone Sony WH-1000XM4', 'kategori': 'Aksesori', 'harga': 5000000, 'stok': 30},
    {'nama': 'Televisi LG 4K', 'kategori': 'Elektronik', 'harga': 12000000, 'stok': 15},
    {'nama': 'Kamera Canon EOS M50', 'kategori': 'Fotografi', 'harga': 10000000, 'stok': 10},
    {'nama': 'Printer Epson L3150', 'kategori': 'Perkantoran', 'harga': 3000000, 'stok': 20},
    {'nama': 'Jam Tangan Casio', 'kategori': 'Aksesori', 'harga': 1500000, 'stok': 40},
    {'nama': 'Kulkas Samsung 2 Pintu', 'kategori': 'Elektronik', 'harga': 8000000, 'stok': 5},
    {'nama': 'Oven listrik Mitochiba', 'kategori': 'Peralatan Dapur', 'harga': 2500000, 'stok': 15},
    {'nama': 'Vacuum Cleaner Philips', 'kategori': 'Peralatan Rumah', 'harga': 4000000, 'stok': 12},
    {'nama': 'Meja Kerja IKEA', 'kategori': 'Furnitur', 'harga': 2000000, 'stok': 18},
    {'nama': 'Kursi Gaming Razer', 'kategori': 'Furnitur', 'harga': 3500000, 'stok': 8},
]

# Inisialisasi koleksi products dan insert data
koleksi_produk = db['PRODUK']
koleksi_produk.insert_many(DataProduk)
print('Beberapa data produk berhasil dimasukkan ke dalam koleksi produk')

In [ ]:
for DataProduk in koleksi_produk.find():
    print(DataProduk)

In [ ]:
# Delete banyak barang
koleksi_produk.delete_many({})
print('Semua data produk telah dihapus')

In [ ]:
# Latihan 4.2
# Kueri untuk menentukan produk di atas harga rata-rata
pipeline = [
    {'$group': {'_id': None, 'average_price': {'$avg': '$harga'}}}
]
rata_rata_harga = koleksi_produk.aggregate(pipeline)
harga_rata_rata = next(rata_rata_harga, {}).get('average_price', 0)

query = {'harga': {'$gt': harga_rata_rata}}
produk_diatas_rata = koleksi_produk.find(query)

print('Produk di atas harga rata-rata:')
for produk in produk_diatas_rata:
    print(produk)

In [ ]:
# Latihan 4.3
# Aggregation Pipeline untuk menghitung jumlah barang setiap kategori
pipeline = [
    {'$group': {'_id': '$kategori', 'jumlah_barang': {'$sum': 1}}}
]
jumlah_barang_per_kategori = koleksi_produk.aggregate(pipeline)

print('Jumlah barang setiap kategori:')
for kategori in jumlah_barang_per_kategori:
    print(kategori)

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [ ]:
# Dataset untuk tugas
# Dataset karyawan dengan 100 nama
DataPegawai = [
    {'name': 'Ahmad Sutrisno', 'department': 'Finance', 'age': 28, 'salary': 5000000},
    {'name': 'Budi Halim', 'department': 'IT', 'age': 32, 'salary': 8000000},
    {'name': 'Citra Kusnadi', 'department': 'HR', 'age': 25, 'salary': 4000000},
    {'name': 'Dewi Rahayu', 'department': 'Marketing', 'age': 30, 'salary': 7000000},
    {'name': 'Eka Setiawan', 'department': 'Sales', 'age': 27, 'salary': 4500000},
    {'name': 'Fahmi Utami', 'department': 'Operations', 'age': 35, 'salary': 9500000},
    {'name': 'Gita Handayani', 'department': 'Support', 'age': 29, 'salary': 4200000},
    {'name': 'Hendra Permana', 'department': 'Finance', 'age': 31, 'salary': 6200000},
    {'name': 'Indah Prabowo', 'department': 'IT', 'age': 26, 'salary': 5500000},
    {'name': 'Joko Sukardi', 'department': 'HR', 'age': 34, 'salary': 7200000},
    {'name': 'Kirana Wulandari', 'department': 'Marketing', 'age': 23, 'salary': 3700000},
    {'name': 'Lina Rahman', 'department': 'Sales', 'age': 29, 'salary': 4800000},
    {'name': 'Maman Hidayat', 'department': 'Operations', 'age': 36, 'salary': 9300000},
    {'name': 'Nina Mulyadi', 'department': 'Support', 'age': 30, 'salary': 4100000},
    {'name': 'Oka Prasetyo', 'department': 'Finance', 'age': 33, 'salary': 6000000},
    {'name': 'Putri Kardono', 'department': 'IT', 'age': 27, 'salary': 5300000},
    {'name': 'Rudi Slamet', 'department': 'HR', 'age': 38, 'salary': 7500000},
    {'name': 'Sari Suryani', 'department': 'Marketing', 'age': 24, 'salary': 3900000},
    {'name': 'Tina Jatmiko', 'department': 'Sales', 'age': 28, 'salary': 4600000},
    {'name': 'Udin Wirawan', 'department': 'Operations', 'age': 40, 'salary': 10000000},
    {'name': 'Vina Nugroho', 'department': 'Support', 'age': 31, 'salary': 4500000},
    {'name': 'Wati Darmadi', 'department': 'Finance', 'age': 35, 'salary': 6700000},
    {'name': 'Xena Ariani', 'department': 'IT', 'age': 29, 'salary': 5900000},
    {'name': 'Yani Bambang', 'department': 'HR', 'age': 26, 'salary': 4300000},
    {'name': 'Zain Iskandar', 'department': 'Marketing', 'age': 33, 'salary': 7000000},
    {'name': 'Ahmad Sutrisno', 'department': 'Finance', 'age': 28, 'salary': 5000000},
    {'name': 'Budi Halim', 'department': 'IT', 'age': 32, 'salary': 8000000},
    {'name': 'Citra Kusnadi', 'department': 'HR', 'age': 25, 'salary': 4000000},
    {'name': 'Dewi Rahayu', 'department': 'Marketing', 'age': 30, 'salary': 7000000},
    {'name': 'Eka Setiawan', 'department': 'Sales', 'age': 27, 'salary': 4500000},
    {'name': 'Fahmi Utami', 'department': 'Operations', 'age': 35, 'salary': 9500000},
    {'name': 'Gita Handayani', 'department': 'Support', 'age': 29, 'salary': 4200000},
    {'name': 'Hendra Permana', 'department': 'Finance', 'age': 31, 'salary': 6200000},
    {'name': 'Indah Prabowo', 'department': 'IT', 'age': 26, 'salary': 5500000},
    {'name': 'Joko Sukardi', 'department': 'HR', 'age': 34, 'salary': 7200000},
    {'name': 'Kirana Wulandari', 'department': 'Marketing', 'age': 23, 'salary': 3700000},
    {'name': 'Lina Rahman', 'department': 'Sales', 'age': 29, 'salary': 4800000},
    {'name': 'Maman Hidayat', 'department': 'Operations', 'age': 36, 'salary': 9300000},
    {'name': 'Nina Mulyadi', 'department': 'Support', 'age': 30, 'salary': 4100000},
    {'name': 'Oka Prasetyo', 'department': 'Finance', 'age': 33, 'salary': 6000000},
    {'name': 'Putri Kardono', 'department': 'IT', 'age': 27, 'salary': 5300000},
    {'name': 'Rudi Slamet', 'department': 'HR', 'age': 38, 'salary': 7500000},
    {'name': 'Sari Suryani', 'department': 'Marketing', 'age': 24, 'salary': 3900000},
    {'name': 'Tina Jatmiko', 'department': 'Sales', 'age': 28, 'salary': 4600000},
    {'name': 'Udin Wirawan', 'department': 'Operations', 'age': 40, 'salary': 10000000},
    {'name': 'Vina Nugroho', 'department': 'Support', 'age': 31, 'salary': 4500000},
    {'name': 'Wati Darmadi', 'department': 'Finance', 'age': 35, 'salary': 6700000},
    {'name': 'Xena Ariani', 'department': 'IT', 'age': 29, 'salary': 5900000},
    {'name': 'Yani Bambang', 'department': 'HR', 'age': 26, 'salary': 4300000},
    {'name': 'Zain Iskandar', 'department': 'Marketing', 'age': 33, 'salary': 7000000},
    {'name': 'Aliyya Aminah', 'department': 'Finance', 'age': 25, 'salary': 4500000},
    {'name': 'Bahrul Fahmi', 'department': 'IT', 'age': 27, 'salary': 6000000},
    {'name': 'Cindy Septiani', 'department': 'HR', 'age': 32, 'salary': 8000000},
    {'name': 'Dedi Irawan', 'department': 'Marketing', 'age': 30, 'salary': 7500000},
    {'name': 'Eka Novia', 'department': 'Sales', 'age': 29, 'salary': 5200000},
    {'name': 'Fahri Setiawan', 'department': 'Operations', 'age': 34, 'salary': 9000000},
    {'name': 'Gita Melati', 'department': 'Support', 'age': 23, 'salary': 4000000},
    {'name': 'Hadi Mahardika', 'department': 'Finance', 'age': 31, 'salary': 6800000},
    {'name': 'Intan Deswati', 'department': 'IT', 'age': 36, 'salary': 8500000},
    {'name': 'Jamaluddin Kurniawan', 'department': 'HR', 'age': 38, 'salary': 7000000},
    {'name': 'Karin Arifin', 'department': 'Marketing', 'age': 28, 'salary': 4500000},
    {'name': 'Lani Prabowo', 'department': 'Sales', 'age': 24, 'salary': 4100000},
    {'name': 'Mikhael Danu', 'department': 'Operations', 'age': 26, 'salary': 5400000},
    {'name': 'Nadia Lestari', 'department': 'Support', 'age': 29, 'salary': 4900000},
    {'name': 'Omar Bahar', 'department': 'Finance', 'age': 32, 'salary': 7200000},
    {'name': 'Pia Rani', 'department': 'IT', 'age': 33, 'salary': 6800000},
    {'name': 'Qori Hafiz', 'department': 'HR', 'age': 27, 'salary': 5300000},
    {'name': 'Rina Sari', 'department': 'Marketing', 'age': 35, 'salary': 9200000},
    {'name': 'Seno Wahyudi', 'department': 'Sales', 'age': 29, 'salary': 5900000},
    {'name': 'Toni Agus', 'department': 'Operations', 'age': 30, 'salary': 8000000},
    {'name': 'Umar Jafar', 'department': 'Support', 'age': 30, 'salary': 5200000},
    {'name': 'Vicky Zamani', 'department': 'Finance', 'age': 36, 'salary': 9000000},
    {'name': 'Wendy Rahman', 'department': 'IT', 'age': 31, 'salary': 6600000},
    {'name': 'Xena Rizki', 'department': 'HR', 'age': 34, 'salary': 7200000},
    {'name': 'Yuni Astuti', 'department': 'Marketing', 'age': 32, 'salary': 4800000},
    {'name': 'Zaki Mahrus', 'department': 'Sales', 'age': 29, 'salary': 5500000},
    {'name': 'Aditya Laksana', 'department': 'Operations', 'age': 28, 'salary': 7000000},
    {'name': 'Bunga Aprilia', 'department': 'Support', 'age': 25, 'salary': 4200000},
    {'name': 'Chandra Rahadian', 'department': 'Finance', 'age': 27, 'salary': 5200000},
    {'name': 'Diana Reski', 'department': 'IT', 'age': 33, 'salary': 6800000},
    {'name': 'Eko Wijayanto', 'department': 'HR', 'age': 30, 'salary': 7500000},
    {'name': 'Fikri Ahmad', 'department': 'Marketing', 'age': 29, 'salary': 5900000},
    {'name': 'Gita Ayu', 'department': 'Sales', 'age': 24, 'salary': 4000000},
    {'name': 'Hana Ramadhani', 'department': 'Operations', 'age': 35, 'salary': 8800000},
    {'name': 'Iwan Suryana', 'department': 'Support', 'age': 36, 'salary': 9000000},
    {'name': 'Joko Yulianto', 'department': 'Finance', 'age': 38, 'salary': 8500000},
    {'name': 'Kika Frida', 'department': 'IT', 'age': 30, 'salary': 5700000},
    {'name': 'Larasati Windu', 'department': 'HR', 'age': 28, 'salary': 4800000},
    {'name': 'Mega Kartika', 'department': 'Marketing', 'age': 25, 'salary': 4200000},
    {'name': 'Nico Alif', 'department': 'Sales', 'age': 31, 'salary': 7200000},
    {'name': 'Oliya Bunga', 'department': 'Operations', 'age': 27, 'salary': 6200000},
    {'name': 'Putri Melati', 'department': 'Support', 'age': 29, 'salary': 5600000},
    {'name': 'Raka Kurnia', 'department': 'Finance', 'age': 34, 'salary': 9500000},
    {'name': 'Siti Aminah', 'department': 'IT', 'age': 30, 'salary': 5300000},
    {'name': 'Toni Setiawan', 'department': 'HR', 'age': 33, 'salary': 7800000},
    {'name': 'Uli Sari', 'department': 'Marketing', 'age': 31, 'salary': 7000000},
    {'name': 'Vera Dwi', 'department': 'Sales', 'age': 35, 'salary': 9300000},
    {'name': 'Wira Prasetya', 'department': 'Operations', 'age': 28, 'salary': 5600000},
    {'name': 'Xander Yudhistira', 'department': 'Support', 'age': 32, 'salary': 6100000},
    {'name': 'Yuki Harumi', 'department': 'Finance', 'age': 29, 'salary': 4500000},
    {'name': 'Zainab Sari', 'department': 'IT', 'age': 34, 'salary': 8800000},
]

# Inisialisasi koleksi employees dan insert data
Pegawai_collection = db['PEGAWAI']
Pegawai_collection.insert_many(DataPegawai)
print('100 record karyawan dimasukkan ke dalam Pegawai collection')

In [ ]:
for DataPegawai in Pegawai_collection.find():
    print(DataPegawai)

In [ ]:
# Delete banyak data
Pegawai_collection.delete_many({})
print('Semua data karyawan telah dihapus')

In [ ]:
# Tugas 1
# Mencari 5 nama karyawan dengan gaji tertinggi dalam setiap departemen
pipeline = [
    {'$group': {'_id': '$department', 'name': {'$first': '$name'}, 'top_salary': {'$max': '$salary'}}},
    {'$project': {'_id': 0, 'department': '$_id','name': '$name', 'top_salary': 1}},
    {'$sort': {'top_salary': -1}},
    {'$limit': 5}]
for result in Pegawai_collection.aggregate(pipeline):
    print(result)

In [ ]:
# Tugas 2
# Skenario di mana harus menghapus karyawan yang berusia di bawah 28 tahun dari database.
pipeline = [
    {'$match': {'age': {'$lt': 28}}},
    {'$project': {'_id': 0, 'name': 1, 'age': 1}}
]
for result in Pegawai_collection.aggregate(pipeline):
    print(result)

In [ ]:
# Tugas 3
# MongoDB query yang menghitung total gaji karyawan di setiap departemen serta rata-rata umur karyawan.
pipeline = [
    {'$group': {'_id': '$department', 'total_salary': {'$sum': '$salary'}, 'average_age': {'$avg': '$age'}}},
    {'$project': {'_id': 0, 'department': '$_id', 'total_salary': 1, 'average_age': 1}}
]
for result in Pegawai_collection.aggregate(pipeline):
    print(result)